.container {    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.card-cadastro-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;   
    margin-top: 1%;   
    
}

mat-form-field {
    width: 70%;
}

input[type="file"]{
    display:none;
}

.button-enviar-foto {
    margin-top: 5px;
    margin-left: 10px;
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.button-enviar-foto .arq {
    display: flex;
}

.button-enviar-foto .arq .file{
    align-self: center;
    margin-left: 10%;
}

.add-foto{
    font-size: 20px;
    height: 30px;
    width:50px;
    background: rgb(81, 165, 190);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    text-align:center;
    transition:.5;
    cursor:pointer;
    border-radius: 5%;
}
.add-foto:hover{
    background: rgb(120, 212, 212);
}

.iconePerfil {
    width: 100px; 
    height: 100px;
}

.example-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width:100%;
}


.example-button-container button {
    background-color: rgb(32, 121, 148);
    margin-bottom: 5%;
}

.btn-fechar {
    display: flex;
    justify-content: flex-end;
    width:100%;
}