.container {    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(81, 165, 190);
    height: 67vh;
}

.card-login-usuario {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
    width: 80%;   
    margin-top: 1%;   
}

.example-button-container {
    
    display: flex;
    justify-items: center;
}

.example-button-container button {
    background-color: rgb(32, 121, 148);
}

.btn-fechar {
    display: flex;
    justify-content: flex-end;
    width:100%;
}

mat-form-field{
    width:80%;
}
.cadastre-se{
    margin-top: 20px;
}